@font-face {
  font-family: "Roboto";
  src: url("/fonts/Roboto-Regular.ttf");
}

@font-face {
  font-family: 'Archer';
  src: url("/fonts/Archer-Bold-Pro.otf");
}

@font-face {
  font-family: "Roboto Condensed";
  src: url("/fonts/RobotoCondensed-Bold.ttf");
}

@font-face {
  font-family: "Social";
  src: url('/fonts/social-icons.ttf');
}

@font-face {
  font-family: "Glyphter";
  src: url('/fonts/Glyphter.ttf');
}

@font-face {
  font-family: "Roboto Slab Bold";
  src: url("/fonts/RobotoSlab-Bold.ttf");
}

@font-face {
  font-family: "Roboto Slab Thin";
  src: url("/fonts/RobotSlab-Thin.ttf");
}
