* {
  box-sizing: border-box;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0 0;
}

p {
  margin: 0;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style-type: none;
}

figure {
  margin: 0;
}

.flex {
  display: flex;
}

.flex-direction_column {
  flex-direction: column;
}

.flex_wrap {
  flex-wrap: wrap;
}

.justify-content_between {
  justify-content: space-between;
}

.justify-content_around {
  justify-content: space-around;
}

.align-items_center {
  align-items: center;
}

.container {
  width: 1170px;
  margin: auto;
}

.wrapper {
  padding: 70px 0;
  box-shadow: 1px 1px 0 rgba(0, 0, 0, 0.11), inset 0 1px 0 rgba(0, 0, 0, 0.07);
  &_no-border {
    box-shadow: none;
  }
}



.link {
  text-decoration: none;
  color: black;
}

.title {
  padding: 0 0 20px 0;

  &__text {
    display: inline-block;
    font-family: "Roboto Slab", serif;
    color: $c5;
    font-size: 30px;
    font-weight: 700;
    line-height: 26px;
  }
}

.text_color_orange {
  color: $orange;
}

.text_color_dark {
  color: $sixtyOne;
}

.text_border_right {
  & > p {
    position: relative;
    display: inline-block;
    padding-right: 0.5em;

    &::after {
      position: absolute;
      content: '|';
      width: 2px;
      top: 50%;
      right: 0;
      font-size: 0.9em;
      transform: translateY(-50%);
    }

    &:last-child {
      padding-right: 0;
      padding-left: 0.5em;

      &::after {
        content: '';
      }
    }
  }
}

