.flex {
  display: flex;
}

.align-items_center {
  align-items: center;
}

.justify-content_space-between {
  justify-content: space-between;
}

.justify-content_start {
  justify-content: flex-start;
}

.container {
  width: 1170px;
  margin: auto;
}

.link {
  text-decoration: none;
}
