$ff: #fff;
$aaa: #aaa;
$grey66: #666;
$grey88: #888;
$darkGrey: #303538;
$lightgray: #848484;
$fb: #fbfbfb;
$five: #555;
$ca: #cacaca;
$orange: #fa6c65;
$c5: #5c5c5c;
$d2: #2d3134;
$sixtyOne: #616161;
$f7: #7f7f7f;
$f9: #9f9f9f;
$e9: #e9e9e9;
